<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techfii.bustracking">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BusTrackingApplication"
        android:allowBackup="true"
        android:icon="@drawable/iv_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BusTracking"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".AdminFormActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar"/>
        <activity
            android:name=".AdminListActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".DriverTrackingActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".BusAllocationActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".StudentFormActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".StudentListActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".BusFormActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".BusListActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".DriverFormActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".DriverListActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".StudentActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".AdminActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".UserSelectionActivity"
            android:exported="false"
            android:theme="@style/Theme.BusTracking.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/Theme.BusTracking.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>